zbody {
    background-color: rgb(11, 14, 16);
    background-image: url('background-adare-restaurant.jpg');
    background-size: cover;
}


.containter {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

nav a {
    text-decoration: none;
    font-weight: bolder;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
  
}

header {
    height: 118px;
    text-align: center;
}


nav {
    background-color: rgba(0, 0, 0, 0.333);
    padding-top: 14px;
    padding-bottom: 14px;


}



main {
    height: 400px;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}


h1 {
    color: white;
    font-size: 84px;
    font-family: Arial, Helvetica, sans-serif;
}


p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: rgba(0, 0, 0, 0.521);
}
footer p {
    color: white;
    font-size: 12px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    font-style: oblique;

}
